 {% load staticfiles %}
  <!DOCTYPE html>
  <html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
      <title>LEEVER PAGE</title>

      <!-- CSS  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link rel="stylesheet" href="{% static 'css/main.css' %}" />
	  <noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}"/></noscript>
    </head>


    <body>

	<!-- Wrapper-->
		<div id="wrapper">

			<!-- Nav -->
				<nav id="nav">
					<a href="#me" class="icon fa-home active"><span>Home</span></a>
					<a href="#about" class="icon fa-user"><span>About</span></a>
					<a href="#work" class="icon fa-folder"><span>Work</span></a>
					<a href="http://linkedin.com/in/garamlee" class="icon fa-linkedin"><span>linkedin</span></a>
				</nav>

			<!-- Main -->
				<div id="main">

					<!-- Me -->
						<article id="me" class="panel">
							<header>
								<h1>Garam Lee</h1>
								<p>HCI/UX Reasearcher</p>
							</header>
							<a href="#about" class="jumplink pic">
								<span class="arrow icon fa-chevron-right"><span>See my work</span></span>
								<img src="{% static 'css/images/me.jpg' %}" alt="" />
							</a>
						</article>

					<!-- About -->
						<article id="about" class="panel">
							<header>
								<h2>About Me</h2>
							</header>
								<div>
									<div class="row">
										<div class="12u 12u$(mobile)">
										<p><b>Hello! I am Garam Lee from Korea.</b><br>
										I am studying Human-Computer Interaction(HCI) in <a href="http://humanict.skku.edu/">SKKU.</a><br>
										I really interested in observing people's behavior and thinking,<br>
										and I always try to keep thinking how can improve the User Expriences.</p>
										<p>Expecially, these days, I am doing a project to make more accessible interaction among blind people, computer, and media.<br>
										I think studying other people's experiences especially that I almost totally I haven't experienced before is really fascinating.<br>
										So I really love doing this work and for about 6 months, I met and interviewed blind people and related field's experts to know their real use of IT device.</p>

										<p>Except just this project, I always try to keep open my eyes and ears to see and hear what happen and what people think.<br>
										If you want to communicate with me, please send email or give me message throgh facebook or instagram.<br>
										I always happy to hear about you and all.</p>

										<p>
										<Strong>Email : garamaa0130@hanmail.net<br>
										Social Network : &nbsp;&nbsp;
										<a href="https://www.facebook.com/garam0130" class="icon fa-facebook"></a>&nbsp;&nbsp;
										<a href="https://www.instagram.com/lee_ver/" class="icon fa-instagram"></a></Strong>
										</p>
										</div>
									</div>
								</div>
						</article>


					<!-- Work -->
						<article id="work" class="panel">
							<header>
								<h2>Work</h2>
							</header>

							<section>
								<div class="u 12u$(mobile)">
									<h5>Current Work (2016)</h>
								</div>
								<div class="row">
									<div class="4u 12u$(mobile)" id="hover-cap-4col">
								        <div class="thumbnail">
								            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
								            <div class="caption">
								                <h5>AIM Project</h5>
								                <p>2016.04 ~ Current</p>
								            </div>
								            </a>
											<img class="image fit" src="{% static 'css/images/pic01.jpg' %}" alt="">
								        </div>

									</div>
									<div class="4u 12u$(mobile)" id="hover-cap-4col">
								        <div class="thumbnail">
											<a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
								            <div class="caption">
								                <h5>Sound-Footprint</h5>
								                <p>2016.07 ~ Current</p>
								            </div>
								            </a>
								            <img class="image fit" src="{% static 'css/images/pic02.jpg' %}" alt="">
								        </div>
									</div>
									<div class="4u$ 12u$(mobile)">
										<!--<a href="" class="image fit"><img src="" alt=""></a>-->
									</div>
								</div>
								<br>
								<div class="u 12u$(mobile)">
									<h5>Last Work</h5>
								</div>
								<div class="row">
									<div class="4u 12u$(mobile)" id="hover-cap-4col">
								        <div class="thumbnail">
								        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
								            <div class="caption">
								                <h5>Fam-On</h5>
								                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								                    tempor incididunt.</p>
								            </div>
											<img class="image fit" src="{% static 'css/images/pic04.jpg' %}" alt="">
										</a>
								        </div>

									</div>
									<div class="4u 12u$(mobile)" id="hover-cap-4col">
								        <div class="thumbnail">
								        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
								            <div class="caption">
								                <h5>Dot UX Internship</h5>
								                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								                    tempor incididunt.</p>
								            </div>
											<img class="image fit" src="{% static 'css/images/pic05.jpg' %}" alt="">
										</a>
								        </div>

									</div>
									<div class="4u$ 12u$(mobile)" id="hover-cap-4col">
								        <div class="thumbnail">
								        <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
								            <div class="caption">
								                <h5>P.ro Website</h5>
								                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								                    tempor incididunt.</p>
								            </div>
								        </a>
											<img class="image fit" src="{% static 'css/images/pic06.jpg' %}" alt="">
								        </div>

									</div>
									<!--<div class="4u 12u$(mobile)">
										<a href="#" class="image fit"><img src="images/pic10.jpg" alt=""></a>
									</div>
									<div class="4u 12u$(mobile)">
										<a href="#" class="image fit"><img src="images/pic11.jpg" alt=""></a>
									</div>
									<div class="4u$ 12u$(mobile)">
										<a href="#" class="image fit"><img src="images/pic12.jpg" alt=""></a>
									</div>-->
								</div>
							</section>


							<!--<form action="#" method="post">
								<div>
									<div class="row">
										<div class="6u 12u$(mobile)">
											<input type="text" name="name" placeholder="Name" />
										</div>
										<div class="6u$ 12u$(mobile)">
											<input type="text" name="email" placeholder="Email" />
										</div>
										<div class="12u$">
											<input type="text" name="subject" placeholder="Subject" />
										</div>
										<div class="12u$">
											<textarea name="message" placeholder="Message" rows="8"></textarea>
										</div>
										<div class="12u$">
											<input type="submit" value="Send Message" />
										</div>
									</div>
								</div>
							</form>-->
						</article>

				</div>

			<!-- Footer -->
				<div id="footer">
					<ul class="copyright">
						<li>Garam Lee &copy; 2016</li><li>Have a Nice Day</a></li>
					</ul>
				</div>

		</div>



		    <!-- Portfolio Modals -->

		    <!-- Portfolio Modal 1 -->
		    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
		        <div class="modal-content">
		            <div class="close-modal" data-dismiss="modal">
		                <div class="lr">
		                    <div class="rl">
		                    </div>
		                </div>
		            </div>
		            <div class="container">
		                <div class="row">
		                    <div class="col-lg-8 col-lg-offset-2">
		                        <div class="modal-body">
		                            <!-- Project Details Go Here -->
		                            <h2>AIM Project</h2>
		                            <p class="item-intro text-muted">Accessible Interaction Media Group</p>
		                            <img class="img-responsive img-centered" src="{% static "css/images/portfolio/1.jpg"%}" alt="">
		                            <p>If you want to see more, please visit our team-page<br>
		                            link :&nbsp;<a href="http://wiki.filoteum.com/index.php?title=Accessible_Interaction_Media_Group" class="icon fa-link"></a>
		                            </p>
		                            <ul class="list-inline">
		                                <li>Date: July 2014</li>
		                                <li>Client: Round Icons</li>
		                                <li>Category: Graphic Design</li>
		                            </ul>
		                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>

		    <!-- Portfolio Modal 2 -->
		    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
		        <div class="modal-content">
		            <div class="close-modal" data-dismiss="modal">
		                <div class="lr">
		                    <div class="rl">
		                    </div>
		                </div>
		            </div>
		            <div class="container">
		                <div class="row">
		                    <div class="col-lg-8 col-lg-offset-2">
		                        <div class="modal-body">
		                            <!-- Project Details Go Here -->
		                            <h2>Sound Footprint</h2>
		                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
		                            <img class="img-responsive img-centered" src="{% static "css/images/portfolio/2.jpg"%}" alt="">
		                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
		                            <ul class="list-inline">
		                                <li>Date: July 2014</li>
		                                <li>Client: Round Icons</li>
		                                <li>Category: Graphic Design</li>
		                            </ul>
		                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>

		    <!-- Portfolio Modal 3 -->
		    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
		        <div class="modal-content">
		            <div class="close-modal" data-dismiss="modal">
		                <div class="lr">
		                    <div class="rl">
		                    </div>
		                </div>
		            </div>
		            <div class="container">
		                <div class="row">
		                    <div class="col-lg-8 col-lg-offset-2">
		                        <div class="modal-body">
		                            <!-- Project Details Go Here -->
		                            <h2>FAM-ON</h2>
		                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
		                            <img class="img-responsive img-centered" src="{% static "css/images/portfolio/3.jpg"%}" alt="">
		                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
		                            <ul class="list-inline">
		                                <li>Date: July 2014</li>
		                                <li>Client: Round Icons</li>
		                                <li>Category: Graphic Design</li>
		                            </ul>
		                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>

		   <!-- Portfolio Modal 4 -->
		    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
		        <div class="modal-content">
		            <div class="close-modal" data-dismiss="modal">
		                <div class="lr">
		                    <div class="rl">
		                    </div>
		                </div>
		            </div>
		            <div class="container">
		                <div class="row">
		                    <div class="col-lg-8 col-lg-offset-2">
		                        <div class="modal-body">
		                            <!-- Project Details Go Here -->
		                            <h2>Dot UX Internship</h2>
		                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
		                            <img class="img-responsive img-centered" src="{% static "css/images/portfolio/4.jpg"%}" alt="">
		                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
		                            <p>
		                                <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>
		                            <ul class="list-inline">
		                                <li>Date: July 2014</li>
		                                <li>Client: Round Icons</li>
		                                <li>Category: Graphic Design</li>
		                            </ul>
		                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>

		    <!-- Portfolio Modal 5 -->
		    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
		        <div class="modal-content">
		            <div class="close-modal" data-dismiss="modal">
		                <div class="lr">
		                    <div class="rl">
		                    </div>
		                </div>
		            </div>
		            <div class="container">
		                <div class="row">
		                    <div class="col-lg-8 col-lg-offset-2">
		                        <div class="modal-body">
		                            <!-- Project Details Go Here -->
		                            <h2>P.ro Webpage</h2>
		                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
		                            <img class="img-responsive img-centered" src="{% static "css/images/portfolio/5.jpg"%}" alt="">
		                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
		                            <p>
		                            If you want to see more, please visit P.rogramming Web site<br>
		                            link :&nbsp;<a href="http://p-rogramming.net/" class="icon fa-link"></a>
		                            </p>
		                            <ul class="list-inline">
		                                <li>Date: July 2014</li>
		                                <li>Client: Round Icons</li>
		                                <li>Category: Graphic Design</li>
		                            </ul>
		                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>


      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
	  <script type="text/javascript" src="{% static 'js/skel.min.js' %}"></script>
	  <script type="text/javascript" src="{% static 'js/skel-viewport.min.js' %}"></script>
	  <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>

  </html>
