 {% load staticfiles %}
  <!DOCTYPE html>
  <html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
      <title>LEEVER PAGE</title>

      <!-- CSS  -->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
      <link rel="stylesheet" href="{% static 'css/main.css' %}" />
	  <noscript><link rel="stylesheet" href="{% static 'css/noscript.css' %}"/></noscript>
    </head>


    <body>

	<!-- Wrapper-->
		<div id="wrapper">

			<!-- Nav -->
				<nav id="nav">
					<a href="#me" class="icon fa-home active"><span>Home</span></a>
					<a href="#about" class="icon fa-user"><span>About</span></a>
					<a href="#work" class="icon fa-folder"><span>Work</span></a>
					<a href="http://linkedin.com/in/garamlee" class="icon fa-linkedin"><span>linkedin</span></a>
				</nav>

			<!-- Main -->
				<div id="main">

					<!-- Me -->
						<article id="me" class="panel">
							<header>
								<h1>Garam Lee</h1>
								<p>HCI/UX Reasearcher</p>
							</header>
							<a href="#about" class="jumplink pic">
								<span class="arrow icon fa-chevron-right"><span>See my work</span></span>
								<img src="{% static 'css/images/me.jpg' %}" alt="" />
							</a>
						</article>

					<!-- About -->
						<article id="about" class="panel">
							<header>
								<h2>About Me</h2>
							</header>
								<div>
									<div class="row">
										<div class="12u 12u$(mobile)">
										<p><b>Hello! I am Garam Lee from Korea.</b><br>
										I am studying Human-Computer Interaction(HCI) in <a href="http://humanict.skku.edu/">SKKU.</a><br>
										I really interested in observing people's behavior and thinking,<br>
										and I always try to keep thinking how can improve the User Expriences.</p>
										<p>Expecially, these days, I am doing a project to make more accessible interaction among blind people, computer, and media.<br>
										I think studying other people's experiences especially that I almost totally I haven't experienced before is really fascinating.<br>
										So I really love doing this work and for about 6 months, I met and interviewed blind people and related field's experts to know their real use of IT device.</p>

										<p>Except just this project, I always try to keep open my eyes and ears to see and hear what happen and what people think.<br>
										If you want to communicate with me, please send email or give me message throgh facebook or instagram.<br>
										I always happy to hear about you and all.</p>

										<p>
										<Strong>Email : garamaa0130@hanmail.net<br>
										Social Network : &nbsp;&nbsp;
										<a href="https://www.facebook.com/garam0130" class="icon fa-facebook"></a>&nbsp;&nbsp;
										<a href="https://www.instagram.com/lee_ver/" class="icon fa-instagram"></a></Strong>
										</p>
										</div>
									</div>
								</div>
						</article>


					<!-- Work -->
						<article id="work" class="panel">
							<header>
								<h2>Work</h2>
							</header>

							<section>
								<div class="u 12u$(mobile)">
									<h5>Current Work (2016)</h>
								</div>
								<div class="row">
									<div class="4u 12u$(mobile)" id="hover-cap-4col">
								        <div class="thumbnail">
								            <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
								            <div class="caption">
								                <h5>AIM Project</h5>
								                <p>2016.04 ~ Current</p>
								            </div>
								            </a>
											<img class="image fit" src="{% static 'css/images/pic01.jpg' %}" alt="">
								        </div>

									</div>
									<div class="4u 12u$(mobile)" id="hover-cap-4col">
								        <div class="thumbnail">
											<a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
								            <div class="caption">
								                <h5>Sound-Footprint</h5>
								                <p>2016.07 ~ Current</p>
								            </div>
								            </a>
								            <img class="image fit" src="{% static 'css/images/pic02.jpg' %}" alt="">
								        </div>
									</div>
									<div class="4u$ 12u$(mobile)">
										<!--<a href="" class="image fit"><img src="" alt=""></a>-->
									</div>
								</div>
								<br>
								<div class="u 12u$(mobile)">
									<h5>Last Work</h5>
								</div>
								<div class="row">
									<div class="4u 12u$(mobile)" id="hover-cap-4col">
								        <div class="thumbnail">
								        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
								            <div class="caption">
								                <h5>Fam-On</h5>
								                <p>2016.03 ~ 2016.06</p>
								            </div>
											<img class="image fit" src="{% static 'css/images/pic04.jpg' %}" alt="">
										</a>
								        </div>

									</div>
									<div class="4u 12u$(mobile)" id="hover-cap-4col">
								        <div class="thumbnail">
								        <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
								            <div class="caption">
								                <h5>Dot UX Internship</h5>
								                <p>2016.06 ~ 2016.08</p>
								            </div>
											<img class="image fit" src="{% static 'css/images/pic05.jpg' %}" alt="">
										</a>
								        </div>

									</div>
									<div class="4u$ 12u$(mobile)" id="hover-cap-4col">
								        <div class="thumbnail">
								        <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
								            <div class="caption">
								                <h5>P.ro Website</h5>
								                <p>2015.07 ~ 2016.08</p>
								            </div>
								        </a>
											<img class="image fit" src="{% static 'css/images/pic06.jpg' %}" alt="">
								        </div>

									</div>
									<!--<div class="4u 12u$(mobile)">
										<a href="#" class="image fit"><img src="images/pic10.jpg" alt=""></a>
									</div>
									<div class="4u 12u$(mobile)">
										<a href="#" class="image fit"><img src="images/pic11.jpg" alt=""></a>
									</div>
									<div class="4u$ 12u$(mobile)">
										<a href="#" class="image fit"><img src="images/pic12.jpg" alt=""></a>
									</div>-->
								</div>
							</section>


							<!--<form action="#" method="post">
								<div>
									<div class="row">
										<div class="6u 12u$(mobile)">
											<input type="text" name="name" placeholder="Name" />
										</div>
										<div class="6u$ 12u$(mobile)">
											<input type="text" name="email" placeholder="Email" />
										</div>
										<div class="12u$">
											<input type="text" name="subject" placeholder="Subject" />
										</div>
										<div class="12u$">
											<textarea name="message" placeholder="Message" rows="8"></textarea>
										</div>
										<div class="12u$">
											<input type="submit" value="Send Message" />
										</div>
									</div>
								</div>
							</form>-->
						</article>

				</div>

			<!-- Footer -->
				<div id="footer">
					<ul class="copyright">
						<li>Garam Lee &copy; 2016</li><li>Have a Nice Day</a></li>
					</ul>
				</div>

		</div>



		    <!-- Portfolio Modals -->

		    <!-- Portfolio Modal 1 -->
		    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
		        <div class="modal-content">
		            <div class="close-modal" data-dismiss="modal">
		                <div class="lr">
		                    <div class="rl">
		                    </div>
		                </div>
		            </div>
		            <div class="container">
		                <div class="row">
		                    <div class="col-lg-8 col-lg-offset-2">
		                        <div class="modal-body">
		                            <!-- Project Details Go Here -->
		                            <h2>AIM Project</h2>
		                            <p class="item-intro text-muted">Accessible Interaction Media Group<br>
		                            시각장애인들의 모바일 텍스트 입력 사용성 증진과 더불어 어플리케이션을 통한 점자 쓰기 교육 방안을 고민하고 있습니다.<br>
		                            기존 점판과 점필을 사용하는 아날로그 방식을 그대로 스마트폰으로 옮겨와 키보드 소프트웨어를 개발한 상태입니다.<br>
		                            동시에 지속적으로 시각장애인들과 관련 분야 전문가분들을 만나 인터뷰와 유저테스트를 진행하고 있습니다.
		                            </p>
		                            <img class="img-responsive img-centered" src="{% static "css/images/portfolio/1.jpg"%}" alt="">
		                            <p>If you want to see more, please visit our team-page<br>
		                            link :&nbsp;<a href="http://wiki.filoteum.com/index.php?title=Accessible_Interaction_Media_Group" class="icon fa-link"></a>
		                            </p>
		                            <ul class="list-inline">
		                                <li>Period: 2016.04 ~ Current </li>
		                                <li>Team: Luis, 이가람, Yang jing</li>
		                                <li>Category: Android Application, Product Design, Accessibility</li>
		                            </ul>
		                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>

		    <!-- Portfolio Modal 2 -->
		    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
		        <div class="modal-content">
		            <div class="close-modal" data-dismiss="modal">
		                <div class="lr">
		                    <div class="rl">
		                    </div>
		                </div>
		            </div>
		            <div class="container">
		                <div class="row">
		                    <div class="col-lg-8 col-lg-offset-2">
		                        <div class="modal-body">
		                            <!-- Project Details Go Here -->
		                            <h2>Sound Footprint</h2>
		                            <p class="item-intro text-muted">소리로 새로운 경험을 줄 수 있는 방안에 대해 연구중입니다.<br>
		                            시각은 초당 25가지 사건을 인식하는데 그치지만, 청각은 같은 시간 동안 200가지 사건을 인식합니다.<br>
		                            시각 디스플레이가 없는 상황에서도 청각을 통해 증강현실을 경험할 수 있다는 컨셉 아래<br>
		                            여러가지 재미있는 컨텐츠들을 만들고 있습니다.</p>
		                            <img class="img-responsive img-centered" src="{% static "css/images/portfolio/2.jpg"%}" alt="">
		                            <p>한국과학창의재단의 'K-Makers 지원사업' 과제에 선정되어 진행중입니다. </p>
		                            <ul class="list-inline">
		                                <li>Period: 2016.07 ~ Current</li>
		                                <li>Team: 이가람, 정다영, 염광래, 이정훈, 루이스</li>
		                                <li>Category: Audio AR, Android application, Product Design, Gamification contents </li>
		                            </ul>
		                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>

		    <!-- Portfolio Modal 3 -->
		    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
		        <div class="modal-content">
		            <div class="close-modal" data-dismiss="modal">
		                <div class="lr">
		                    <div class="rl">
		                    </div>
		                </div>
		            </div>
		            <div class="container">
		                <div class="row">
		                    <div class="col-lg-8 col-lg-offset-2">
		                        <div class="modal-body">
		                            <!-- Project Details Go Here -->
		                            <h2>FAM-ON</h2>
		                            <p class="item-intro text-muted">Family Shared Time Tracker<br>
		                            부모와 아이가 함께하는 시간을 기록하고, 같이 행동놀이를 즐길 수 있습니다.<br>
		                            가족이 함께하는 양적, 질적 시간을 향상시키려는 고민을 시작으로 본 아이디어가 탄생하게 되었습니다.</p>
		                            <img class="img-responsive img-centered" src="{% static "css/images/portfolio/3.jpg"%}" alt="">
		                            <ul class="list-inline">
		                                <li>Period: 2016.03 ~ 2016.06</li>
		                                <li>Team: 이가람, 정다영, 염광래, 이정훈</li>
		                                <li>Category: Wearable device, Product design, Android application, Gamification contents</li>
		                            </ul>
		                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>

		   <!-- Portfolio Modal 4 -->
		    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
		        <div class="modal-content">
		            <div class="close-modal" data-dismiss="modal">
		                <div class="lr">
		                    <div class="rl">
		                    </div>
		                </div>
		            </div>
		            <div class="container">
		                <div class="row">
		                    <div class="col-lg-8 col-lg-offset-2">
		                        <div class="modal-body">
		                            <!-- Project Details Go Here -->
		                            <h2>Dot UX Internship</h2>
		                            <p class="item-intro text-muted">세계 최초 점자 스마트워치를 만드는 'Dot'과 함께하였습니다. <br>
		                            Dot의 Brand Experience를 고민하고, <br>
		                            단계적인 User Test를 통해 하드웨어와 소프트웨어의 UI를 구성하였습니다.</p>
		                            <img class="img-responsive img-centered" src="{% static "css/images/portfolio/4.jpg"%}" alt="">
		                            <ul class="list-inline">
		                                <li>Period: 2016.06 ~ 2016.08</li>
		                                <li>Team: 이가람, Luis + Dot Software Development team</li>
		                                <li>Category: UX Design, User test</li>
		                            </ul>
		                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>

		    <!-- Portfolio Modal 5 -->
		    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
		        <div class="modal-content">
		            <div class="close-modal" data-dismiss="modal">
		                <div class="lr">
		                    <div class="rl">
		                    </div>
		                </div>
		            </div>
		            <div class="container">
		                <div class="row">
		                    <div class="col-lg-8 col-lg-offset-2">
		                        <div class="modal-body">
		                            <!-- Project Details Go Here -->
		                            <h2>P.ro Webpage</h2>
		                            <p class="item-intro text-muted">비전공자 프로그래밍 동아리 '피로그래밍' 3기로 활동하며 피로그래밍 웹사이트의 초기버전을 개발하였습니다.</p>
		                            <img class="img-responsive img-centered" src="{% static "css/images/portfolio/5.jpg"%}" alt="">
		                            <p>
		                            If you want to see more, please visit P.rogramming Web site<br>
		                            link :&nbsp;<a href="http://p-rogramming.net/" class="icon fa-link"></a>
		                            </p>
		                            <ul class="list-inline">
		                                <li>Period: 2015.07 ~ 2015.08 </li>
		                                <li>Team: 이창현, 박근우, 김빛나, 이가람</li>
		                                <li>Category: Python, Django, Web Development</li>
		                            </ul>
		                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>


      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
	  <script type="text/javascript" src="{% static 'js/skel.min.js' %}"></script>
	  <script type="text/javascript" src="{% static 'js/skel-viewport.min.js' %}"></script>
	  <script type="text/javascript" src="{% static 'js/util.js' %}"></script>
	<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
	  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    </body>

  </html>
